 <!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script data-require="angular.js@1.2.7" data-semver="1.2.7" src="http://code.angularjs.org/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="script.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet" />         
  </head>
  <body>
    
    <div ng-controller="myAppCtrl">
      <table class="table">
        <thead>
          <tr class="table-header">
            <th>Publicatie                  
            <input ng-model="inputValue" type="text" placeholder="Cauta ziare..." ng-change="filter(inputValue)">
            <img src="sell.png" class="sell-icon" ng-click="sellClicked()">
          </th>
            <th>Categorie</th>
            <th><img src="paper.png" class="paper-icon"></th>
            <th><img src="book.png" class="book-icon"></th>
            <th><img src="cd.png" class="cd-icon"></th>
          </tr>
        </thead>
        <tbody class="table-boby" >
          <tr ng-repeat="paper in searchedPapers" ng-click="rowClicked($index)" id="{{ 'rowID' + $index }}">
            <td>{{paper.name}}</td>
            <td>{{paper.category}}</td>
            <td><img src="delete.png" class="delete-icon" ng-click="paperClicked($index)" id="{{ 'paperID' + $index }}"></td>
            <td><img src="delete.png" class="delete-icon" ng-click="bookCliked($index)" id="{{ 'bookID' + $index }}"></td>
            <td><img src="delete.png" class="delete-icon" ng-click="cdClicked($index)" id="{{ 'cdID' + $index }}"></td>
          </tr>
        </tbody>
      </table>

      <div id="sellWindow" ng-show="showSell">
        <p class="sell-details" ng-repeat="detail in sellDetails track by $index">{{detail}}</p>        
        <a href="#" class="myButton" ng-click="sellPushed()">Sell</a>
        <a href="#" class="myButton" ng-click="cancelSellPushed()">Cancel Sell</a>        
      </div>

    </div>
  </body>

</html>


